<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="/login">
                <i class="material-icons">
                    login
                </i>
                Entrar
            </a>
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    logout
                </i>
                Sair
            </a>
            <a mat-list-item routerLink="/users/read/1">
                <i class="material-icons">
                    account_box
                </i>
                Sobre
            </a>
            <a mat-list-item routerLink="/cards">
                <i class="material-icons">
                    credit_card
                </i>
                Cartão
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
