<mat-card>
    <mat-card-title>Login</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="E-mail"
              name="username" type="email" [(ngModel)]="user.username">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" 
              name="password" type="password" [(ngModel)]="user.password">
        </mat-form-field>
    </form>


    <button mat-raised-button (click)="login()" color="primary">
        Entrar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
